[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/gercodrev
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/gercodrev
	label-Verified = -1..+1 group user/gercodrev
	push = group user/gercodrev
	read = group user/gercodrev
	rebase = group user/gercodrev
	removeReviewer = group user/gercodrev
	submit = group user/gercodrev
[access "refs/heads/*"]
	create = group user/gercodrev
	push = +force group user/gercodrev
	pushMerge = group user/gercodrev
	read = group user/gercodrev
[access "refs/tags/*"]
	push = group user/gercodrev
	push = +force group user/gercodrev
